.idea
idea
/.idea

mypy_cache
.mypy_cache
/.mypy_cache
.vscode
vscode
/vscode
/.vscode
/idea
/mypy_cache
.vs
/.vs
./vs
/vs

csharp/csharp/csharp/.idea/*
csharp/csharp/csharp/.idea
csharp/csharp/csharp/bin
csharp/csharp/csharp/obj
csharp/csharp/csharp/bin/*
csharp/csharp/csharp/obj/*
csharp/csharp/csharp/csharp.sln
csharp/csharp/csharp/csharp.csproj
csharp/csharp/csharp/Program.cs

go/.idea
/go/.idea
